<link rel="stylesheet" href="/css/login-register.css">

<div id="frontContainer">
    <h1>Front page</h1>
    
    <form methodd="POST" action="" id="mainform">
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <button type="submit" id="loginbttn" class="btn btn-primary btn-lg" onclick="this.form.action=this.value" value="/login">Sign in</button>
            </div>
            <div class="offset-sm-2 col-sm-6">
                <button type="submit" id="registerbttn" class="btn btn-primary btn-lg" onclick="this.form.action=this.value" value="/register">Register</button>
            </div>
        </div>
    </form>

</div>

<!--javascript for capturing button pressess go here-->
<script>
$(function() {

    
    $("#loginbttn").click(() => {
        alert("Login");
        
        $("#mainform"),action = "/login";
//        document.mainform.action ="/login";
//        $(this).closest("form").attr('action', '/login');
    });
    
    $("#registerbttn").click(() => {
        alert("Register Me");
    });
     
});


</script>