<link rel="stylesheet" href="/css/login-register.css">

<div id="frontContainer">
    <h1>This is the front page</h1>
    
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-secondary">Login</button>
        <button type="button" class="btn btn-secondary">Register</button>
    </div>
    
</div>