<form>
	<div class="form-group">
		<textarea class="form-control" placeholder="Create Post Here"></textarea>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Post</button>
	</div>
</form>