<link rel="stylesheet" href="/css/login-register.css">

<div id="registerContainer">
    <h1>This is the register pagez page</h1>
    
    <form>
        
    
    </form>

</div>

<!-- NEED THESE THINGS
t.string :fname
t.string :lname
t.string :email
t.text :bio
t.string :password
t.datetime :dob
t.datetime :lastOn
t.boolean :admin
t.string :picture -->