@font-face {
	font-family: reg-font;
	src: url("../font/UnicaOne-Regular.ttf");
}

* {
    font-family: reg-font;
}


/* HOME */

.large-bar {
	min-height: 500px;
	background: green;
}

.small-bar {
	min-height: 500px;
	background: black;
}

.container {
	max-width: 740px;
}