@font-face {
	font-family: reg-font;
	src: url("../font/UnicaOne-Regular.ttf");
}

* {
    font-family: reg-font;
    color: white;
}

body {
    background-color: #bcf;
}

#maincontainer {
    max-width: 800px;
    margin: 0 auto;

    padding: 0 1em;
    background-color: rgba(0,0,0,.2);
}


/* HOME */

.large-bar {
	min-height: 500px;
	background-color: rgba(0,0,0,.1);
}

.small-bar {
	min-height: 500px;
	background: black;
}