@font-face {
	font-family: reg-font;
	src: url("../font/UnicaOne-Regular.ttf");
}

* {
    font-family: reg-font;
    color: white;
}

body {
    background-color: #bcf;
    padding: 0;
    margin: 0;
}

#maincontainer {
/*
    max-width: 1000px;
    margin: 0 auto;

    padding: 0 1em;
*/
    background-color: rgba(0,0,0,.2);
}


/* HOME */


.large-bar {
	min-height: 500px;
	background-color: rgba(0,0,0,.1);
}

.small-bar {
/*    max-width: 500px;*/
	background: rgba(0,0,0,.7);
}