.postrow {
	padding: 2px;
	margin-bottom: 10px;
	border: 2px solid black;
	border-radius: 5px;
}

.posting {
	margin-bottom: 5px;
}

.username {
	text-align: left;
}

#timestamp {
	text-align: right;
    float: right;
    color: #aaa;
}

#feednav {
    background-color: rgba(256,256,256,.8);
    padding: 1em 0;
}

.media {
    border: solid 2px #000;
    padding: 1em;
    border-radius: 10px;
}

.media-left > img {
/*    border: solid 2px darkseagreen;*/
    border-radius: 10px;
/*    background-color: darkseagreen;*/
}