.glyphicon {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 2em;
}


.btn {
    width: 100%;
    
}

#deletebttn {
    display: none;
}

/* User Profile */
#profileContainer {

}


#userbio {
    background-color: rgba(0,0,0,.1);
}

#userimage {
    
}

/*User Account Settings*/
#backbttn {
/*    background-color: rgba(0,0,0,.1);*/
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    text-decoration: none;
}


#frontContainer {
    
}

#registerContainer {
    
}

#loginContainer {
    
}

#badlogin {
    display: none;
    color: black;
/*    padding: 1em;*/
    background-color: white;
    font-weight: bold;
    border-radius: 7.5px;
}

#signinbttn {
    width: 100%;
}

#registerbttn {
    width: 100%;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}